

<mat-drawer-container>
  <mat-drawer #drawer mode="over">
    <div class="nav">
      <div class="header">
        Only Show:
      </div>
      <button mat-button color="accent" (click)="setFilter('all')">All</button>
      <button mat-button color="accent" (click)="setFilter('place')">Place</button>
      <button mat-button color="accent" (click)="setFilter('research')">Research</button>
      <button mat-button color="accent" (click)="setFilter('call')">Call</button>
      <button mat-button color="accent" (click)="setFilter('meeting')">Meeting</button>
      <button mat-button color="accent" (click)="setFilter('buy')">Buy</button>
    </div>
  </mat-drawer>

  <div>
    <mat-toolbar>
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="logo">Todo</span>
      <div class="icons">
        <button mat-icon-button>
          <mat-icon class="icon">add</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <app-todo-list [todos]="todos | async"></app-todo-list>
  </div>

</mat-drawer-container>