:host {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        margin-right: 20px;
    }
    .icons {
        margin-left: auto;
    }
}


::ng-deep.mat-drawer-inner-container {
    width: 270px !important;
}