

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div>
    <mat-toolbar>
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="logo">Todo</span>
      <div class="icons">
        <button mat-icon-button>
          <mat-icon class="icon">add</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <app-todo-list [todos]="todos | async"></app-todo-list>
  </div>

</mat-drawer-container>