.todo {
    margin: 10px 20px;
    padding: 2px;
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #313131;
        .title {
            font-size: 20px;
        }
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            width: 30px;
            height: 30%;
            padding: 5px;
            background-color: var(--accent-color);
            border-radius: 50%;
            mat-icon {
                color: var(--accent-lighter-color);
            }
        }
    }
    .body {
        padding: 10px;
        border-top: 1px solid #4a4a4a;
        .content {
            margin: 30px;
        }
    }
}